.registerCotainer {
    background: linear-gradient(287deg, rgba(255,255,255,1) 0%, rgba(243,244,244,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    height: 100vh;
    box-shadow: 10px 30px 30px rgba(0,0,0 ,0.1);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inputInfo {
            display: flex;
            flex-direction: column;
            padding : 1% 0;

            label {
                font-weight: bold;
                padding : 3% 2%;
            }

            input {
                padding : 2%;            
            }
            
            span.invalid {
                color : red;
                padding : 3% 0 0 0;
                font-weight: lighter;
                font-size: 0.9rem;
            }
            span.disable {
                display: none;
            }

        }
    }

}